@use "variables.scss" as v;

.advantages {
  padding: 0 20px 53px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 43px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  color: #444444;
}

.advantages__item {
  padding-left: 80px;
  margin-bottom: 26px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: -2px;
    left: 0;
  }

  &--composition::before {
    background-image: url("../img/advantages-composition.svg");
  }

  &--form::before {
    background-image: url("../img/advantages-form.svg");
  }

  &--use::before {
    background-image: url("../img/advantages-use.svg");
  }

  &--result::before {
    content: "";
    background-image: url("../img/advantages-result.svg");
  }
}

@media (min-width: v.$tablet-width) {
  .advantages {
    padding: 0 30px 47px;
  }

  .advantages__title {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }

  .advantages__description {
    font-size: 16px;
    line-height: 24px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: repeat(2, 248px);
    column-gap: 137px;
    row-gap: 37px;
  }

  .advantages__item {
    padding: 151px 26px 57px 0;
    margin: 0;

    &--result {
      padding-right: 0;
    }

    &::before {
      width: 80px;
      height: 80px;
      background-size: 80px 80px;
      background-repeat: no-repeat;
      top: 40px;
      left: 0;
    }
  }
}

@media (min-width: v.$desktop-width) {
  .advantages {
    padding: 0 110px 69px;
    border-bottom: none;
  }

  .advantages__list {
    width: 1220px;
    flex-wrap: wrap;
    display: flex;
    gap: 80px;
  }

  .advantages__item {
    width: 245px;
    padding: 151px 0 57px;
  }
}
