@use "variables.scss" as v;

.categories {
  padding: 20px;
}

.categories__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 280px;
  gap: 20px;
}

.categories__item {
  background-color: #f2f2f2;
  padding: 30px 19px 18px 19px;
}

.categories__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
}

.categories__description {
  font-family: "Arial", sans-serif;
  color: #444444;
  margin: 0;
  margin-bottom: 23px;
}

.categories__link {
  padding-top: 15px;
  color: #000000;
  line-height: 16px;
  border-top: 1px solid #d9d9d9;
}


@media (min-width: v.$tablet-width) {
  .categories {
    padding: 0 30px 45px;
  }

  .categories__list {
    grid-template-columns: 708px;
    gap: 30px;
  }

  .categories__link {
    border: none;
  }
}

@media (min-width: v.$desktop-width) {
  .categories__list {
    grid-template-columns: repeat(2, 570px);
    gap: 80px;
  }
}
