.categories {
  padding: 20px;
  padding-bottom: 0;
}

.categories__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.categories__item {
  background-color: #f2f2f2;
}

.categories__item:not(:last-child) {
  margin-bottom: 20px;
}

.categories__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  margin: 0;
  margin-bottom: 30px;
}

.categories__description {
  font-family: "Arial", sans-serif;
  color: #444444;
}

.categories__link {
  text-decoration: none;
  color: #000000;
  line-height: 16px;
}
