
.program {
  padding: 27px 20px 0;
  background-color: #68b738;
  background-image: url("../img/background-index.png");
  background-repeat: no-repeat;
  color: #ffffff;
}

.program__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.program__slogan {
  line-height: 14px;
}

.program__link {
  font-size: 14px;
  line-height: 18px;
  padding: 7px 0 7px 0;
}
