@use "variables.scss" as v;

.result {
  width: 100%;
  background-color: #eaeaea;
}

.result__wrapper {
  padding: 25px 20px 37px;
}

.result__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.result__list {
  margin: 0;
  padding: 0;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.result__text {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  color: #444444;
}

.result__item {
  width: 124px;
  position: relative;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  padding: 15px 0 18px;
}

.result__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.result__description {
  padding: 0 14px 0;
  margin: 0;
  position: absolute;
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 12px;
  background-color: #eaeaea;
  top: 81%;
  left: 17%;
}

.result__price {
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 34px 0 20px;
}

@media (min-width: v.$tablet-width) {
  .result {
    width: 100%;
    border-top: 1px solid #e6e6e6;
    background-color: #ffffff;
    background-image: linear-gradient(#ffffff 0%, #ffffff 57%, #eaeaea 57%, #eaeaea 100%);
  }

  .result__wrapper {
    padding: 43px 30px 100px;
    display: flex;
    flex-direction: column;
  }

  .result__title {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }

  .result__list {
    width: 366px;
  }

  .result__item {
    width: 162px;
  }

  .result__text {
    margin-right: 10px;
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  .result__number {
    font-size: 30px;
    line-height: 37px;
  }

  .result__description {
    padding: 0 8px 0;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    top: 86%;
    left: 11%;
  }

  .result__description br {
    display: none;
  }

  .result__wrapper-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }

  .result__price {
    font-size: 20px;
    width: 174px;
    margin: 0;
    text-align: right;
  }

  .result__price-value {
    display: block;
    margin-top: 10px;
  }

  .result__photo-item {
    width: 560px;
    height: 512px;
  }
}

@media (min-width: v.$desktop-width) {
  .result {
    background-image: linear-gradient(#ffffff 0%, #ffffff 22%, #f2f2f2 22%, #f2f2f2 100%);
    min-height: 598px;
    border: none;
  }

  .result__wrapper {
    padding: 0 110px 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .result__wrapper-desctop {
    width: 436px;
  }

  .result__title {
    margin-bottom: 146px;
  }

  .result__text {
    margin-bottom: 69px;
  }

  .result__wrapper-list {
    display: block;
    margin-bottom: 0;
  }

  .result__list {
    margin-bottom: 61px;
  }

  .result__photo {
    background-color: transparent;
  }

  .result__description {
    background-color: #f2f2f2;
  }

  .result__price {
    width: 100%;
    text-align: left;
    display: flex;
  }

  .result__price-value {
    margin-left: 66px;
    margin-top: 0;
  }
}
