@use "variables.scss" as v;

.slider {
  position: relative;
  width: 280px;
  height: 256px;
}

.slider__photo {
  position: absolute;
  top: 0;
  left: 0;
}

.slider__photo--before {
  clip-path: inset(0 50% 0 0);
}

.slider__photo--after {
  clip-path: inset(0 0 0 50%);
}

.slider__toggles {
  position: absolute;
  left: 50%;
}

.slider__scale {
  width: 4px;
  height: 256px;
  background-color: #666666;
  position: absolute;
  border-radius: 2px;
}

.slider__toggle {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #666666;
  border-radius: 20px;
  top: 106px;
  left: -18px;
  z-index: 1;

  &:hover,
  &:focus {
    outline: none;
    border: 2px solid #68b738;
  }

  &:active {
    border: 2px solid rgba(94, 170, 47, 0.4);
  }
}

.slider__toggle-icon {
  color: #666666;
}

.slider__toggle:hover .slider__toggle-icon,
.slider__toggle:focus .slider__toggle-icon {
  color: #68b738;
}

.slider__toggle:hover + .slider__scale,
.slider__toggle:focus + .slider__scale {
  background-color: #68b738;
}

.slider__toggle:active .slider__toggle-icon {
  color: rgba(94, 170, 47, 0.4);
}

.slider__toggle:active + .slider__scale {
  background-color: rgba(94, 170, 47, 0.4);
}

@media (min-width: v.$tablet-width) {
  .slider {
    width: 560px;
    height: 512px;
    margin: 0 auto;
  }

  .slider__scale {
    height: 512px;
  }

  .slider__toggle {
    top: 240px;
  }
}

@media (min-width: v.$desktop-width) {
  .slider {
    margin: 0;
    bottom: 10px;
  }
}
