@charset "UTF-8";
/*@use "blocks/mixins.scss"; подключение миксина в офносном фалйе и там где используется

.visually-hidden {
  @include mixins.название миксина;
}
*/
/* Viewports*/
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  display: block;
}

.page {
  height: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #000000;
  background-color: #ffffff;
}

.button {
  display: inline-block;
  padding: 10px 0 10px 0;
  border: none;
  font-size: 16px;
  line-height: 20px;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
.button--all {
  color: #444444;
  background-color: #f2f2f2;
}

.main-container {
  flex-grow: 1;
}

.main-container__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.main-container__title-catalog {
  padding: 27px 20px 41px;
}

.main-container__title-form {
  padding: 27px 20px 37px;
}

@media (min-width: 768px) {
  .main-container__title-catalog {
    padding: 0 30px 82px;
  }

  .main-container__title-form {
    padding: 65px 70px 54px;
  }
}
@media (min-width: 1440px) {
  .main-container__title-form,
.main-container__title-catalog {
    padding: 32px 110px 84px;
  }
}
.contacts--background {
  background-color: #f2f2f2;
}

.contacts__wrapper {
  padding: 26px 20px;
}

.contacts__adress {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.contacts__map {
  min-width: 320px;
  min-height: 320px;
  background-color: #eaeaea;
  background-image: url("../img/map.png");
}

@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 56px 70px;
  }

  .contacts__adress {
    width: 628px;
  }
}
@media (min-width: 1440px) {
  .contacts--background {
    background-color: #ffffff;
  }

  .contacts__wrapper {
    padding: 56px 80px;
    position: absolute;
    background-color: #ffffff;
  }

  .contacts__adress {
    width: 405px;
  }
}
.adress {
  line-height: 20px;
}

.adress__welcome {
  text-transform: uppercase;
  color: #111111;
}

.adress__text {
  font-family: "Arial", sans-serif;
  color: #444444;
}

.container {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
.main-header {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .main-header {
    width: 768px;
    padding: 24px 30px 65px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .main-header {
    width: 1440px;
    padding: 53px 110px 32px;
  }
}
.main-menu__link {
  text-align: center;
  padding-top: 22px;
  padding-bottom: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  border-top: 1px solid #e6e6e6;
}

.main-menu__item:last-of-type .main-menu__link {
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: 768px) {
  .main-menu__link {
    border: none;
  }

  .main-menu__item:last-of-type .main-menu__link {
    border: none;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    width: 450px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .main-nav__list {
    width: 480px;
  }
}
.logo {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 190px;
}

@media (min-width: 768px) {
  .logo {
    margin: 0;
  }
}
.main-footer {
  padding: 22px 20px;
}

.main-footer__link {
  text-align: center;
}

@media (min-width: 768px) {
  .main-footer {
    padding: 58px 30px 55px;
  }

  .main-footer__wrapper {
    max-width: 708px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .main-footer {
    padding: 57px 110px 58px;
  }

  .main-footer__wrapper {
    max-width: 1220px;
  }
}
.social__list {
  max-width: 132px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  border: 1px solid #d9d9d9;
}

.social__item {
  min-width: 28px;
  min-height: 22px;
}

.social__item:not(:last-child) {
  margin-right: 24px;
}

@media (min-width: 768px) {
  .social__list {
    border: none;
  }
}
.copyright {
  max-width: 280px;
  display: flex;
  justify-content: space-between;
}

.copyright___link-text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

@media (min-width: 768px) {
  .copyright {
    max-width: 163px;
  }
}
.program {
  text-align: center;
  color: #ffffff;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 68%, #ffffff 68%, #ffffff 100%), url("../img/index-background-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.program__wrapper {
  padding: 0 20px;
}

.program__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.program__slogan {
  margin: 0;
  margin-bottom: 29px;
  line-height: 14px;
  text-transform: uppercase;
}

.program__link {
  font-size: 14px;
  line-height: 18px;
  padding: 7px 0 7px 0;
}

@media (min-width: 768px) {
  .program {
    text-align: start;
    background-image: none;
  }

  .program__wrapper {
    padding: 0 30px;
  }

  .program__title,
.program__slogan {
    color: #000000;
  }

  .program__img {
    order: 0;
  }
}
@media (min-width: 1440px) {
  .program__wrapper {
    padding: 0 110px;
    position: relative;
    min-height: 694px;
  }

  .program__wrapper::after {
    content: "";
    position: absolute;
    width: 720px;
    height: 694px;
    top: 0;
    right: 0;
    left: 51%;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-desktop.png");
    background-repeat: no-repeat;
    z-index: -1;
  }
}
.categories {
  padding: 20px;
}

.categories__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 280px;
  gap: 20px;
}

.categories__item {
  background-color: #f2f2f2;
  padding: 30px 19px 18px 19px;
}

.categories__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
}

.categories__description {
  font-family: "Arial", sans-serif;
  color: #444444;
  margin: 0;
  margin-bottom: 23px;
}

.categories__link {
  padding-top: 15px;
  color: #000000;
  line-height: 16px;
  border-top: 1px solid #d9d9d9;
}

@media (min-width: 768px) {
  .categories {
    padding: 0 30px 45px;
  }

  .categories__list {
    grid-template-columns: 708px;
    gap: 30px;
  }

  .categories__link {
    border: none;
  }
}
@media (min-width: 1440px) {
  .categories {
    padding: 82px 110px 71px;
  }

  .categories__list {
    grid-template-columns: repeat(2, 570px);
    gap: 80px;
  }
}
.advantages {
  padding: 0 20px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Arial", sans-serif;
  color: #444444;
}

.advantages__description {
  margin: 0;
}

.advantages__item:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .advantages {
    padding: 0 30px 47px;
    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    width: 249px;
  }
}
@media (min-width: 1440px) {
  .advantages {
    padding: 0 110px 126px;
    border-bottom: none;
  }
}
.counters {
  counter-reset: section;
}

.counters__item {
  counter-increment: section;
}
.counters__item::after {
  content: counter(section);
}

.result {
  padding: 25px 20px 40px;
  background-color: #eaeaea;
}

.result__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.result__list {
  margin: 0;
  padding: 0;
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.result__text {
  font-family: "Arial", sans-serif;
  color: #444444;
}

.result__item {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.result__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.result__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 12px;
}

.result__price {
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) {
  .result {
    padding: 43px 30px 0;
    background-color: #ffffff;
  }

  .result__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .result__photo {
    background-color: #eaeaea;
  }
}
@media (min-width: 1440px) {
  .result {
    padding: 0 110px 75px;
    display: flex;
    background-image: linear-gradient(#ffffff 0%, #ffffff 30%, #f2f2f2 30%, #f2f2f2 100%);
  }

  .result__wrapper {
    display: block;
  }

  .result__photo {
    background-color: transparent;
  }
}
.slider__toggle {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 768px) {
  .main-catalog {
    padding: 0 30px 68px;
  }

  .main-catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .main-catalog {
    padding: 0 110px 76px;
  }

  .main-catalog__list {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 63px;
    row-gap: 80px;
  }

  .main-catalog__wrapper-desctop {
    padding: 0 110px 86px;
    display: flex;
    justify-content: space-between;
  }
}
.product {
  padding: 18px 20px 25px;
  border-top: 1px solid #ebebeb;
}

.product__link {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
}

.product__info-item {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .product {
    border: none;
  }
}
.catalog-all {
  padding: 80px 20px 25px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}

.catalog-all__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.catalog-all__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.additional-catalog__title {
  padding: 25px 20px 36px;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.additional-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 768px) {
  .additional-catalog__title {
    padding: 68px 30px 80px;
  }
}
@media (min-width: 1440px) {
  .additional-catalog__title {
    padding: 76px 110px 80px;
  }

  .additional-catalog__item {
    width: 896px;
    display: flex;
    justify-content: space-between;
  }
}
.product-add {
  padding: 13px 20px 19px;
  border-top: 1px solid #ebebeb;
}
.product-add:last-of-type {
  border-bottom: 1px solid #ebebeb;
}

.product-add__title {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.product-add__info {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

@media (min-width: 768px) {
  .product-add {
    border: 1px solid #cdcdcd;
  }
}
.gift {
  padding: 35px 20px;
}

.gift__info {
  height: 290px;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #68b738;
  background-image: url("../img/background-catalog.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
}

@media (min-width: 768px) {
  .gift {
    padding: 69px 30px 76px;
  }
}
.form__text {
  padding: 0 20px 39px;
  text-transform: uppercase;
}

.form__note {
  text-align: center;
  font-family: "Arial", sans-serif;
  line-height: 16px;
}

.form__button {
  font-family: "Oswald", sans-serif;
  padding: 7px 0 7px 0;
}

.form__questionary {
  padding: 0 20px 24px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
}

.form__radio {
  padding: 0 20px 20px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
}

.form__questionary--contacts {
  padding: 26px 20px 24px;
  border: none;
}

.form__comment {
  padding: 0 20px 23px;
  border: none;
}

.form__checkbox {
  padding: 0 20px 34px;
  border: none;
}

.form__wrapper-button {
  padding: 0 20px 32px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .form__text {
    padding: 0 70px 66px;
  }

  .form__questionary {
    padding: 0 70px 72px;
    border: none;
  }

  .form__radio {
    padding: 0 70px;
    border: 1px solid #d9d9d9;
  }

  .form__questionary--contacts {
    padding: 71px 70px 65px;
  }

  .form__comment {
    padding: 0 70px 65px;
  }

  .form__checkbox {
    padding: 0 110px 56px;
  }

  .form__wrapper-button {
    padding: 0 110px 72px;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .form__text {
    padding: 0 110px 66px;
  }

  .form__wrapper-desctop {
    display: flex;
    padding: 0 110px;
  }

  .form__questionary--contacts {
    padding: 69px 110px;
  }

  .form__comment {
    padding: 0 110px 67px;
  }
}
.questionary__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.questionary__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.questionary__label {
  font-size: 16px;
  color: #444444;
  text-transform: uppercase;
}

.questionary__input::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

@media (min-width: 1440px) {
  .questionary__list--contacts {
    display: flex;
  }
}
.control__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.control__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.control__name {
  font-size: 16px;
  color: #222222;
}

@media (min-width: 768px) {
  .control__list--checkbox {
    display: grid;
    grid-template-columns: repeat(2, 221px);
    row-gap: 23px;
    column-gap: 123px;
  }
}
@media (min-width: 1440px) {
  .control__list--checkbox {
    display: flex;
    max-width: 1196px;
  }
}
.comment__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.comment__input {
  min-height: 150px;
  width: 100%;
  border-color: #e7e7e7;
}
.comment__input::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .comment__input {
    min-height: 174px;
  }
}
/*Global*/
/*Header*/
/*Footer*/
/*Index*/
/*Catalog*/
/*Form*/
/*# sourceMappingURL=style.css.map */