@use "variables.scss" as v;

.additional-catalog {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #68b738;
    top: 40px;
    right: -113px;
  }
}

.additional-catalog-wrapper {
  padding: 25px 20px 36px;
}

.additional-catalog__item {
  display: flex;
  flex-direction: column;
}

.additional-catalog__title {
  margin: 0;
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.additional-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: v.$tablet-width) {
  .additional-catalog::before {
    width: 100%;
    top: 15px;
    right: 0;
    z-index: -1;
  }

  .additional-catalog-wrapper {
    padding: 0 30px 0;
  }

  .additional-catalog__title {
    font-size: 36px;
    line-height: 36px;
    display: inline-block;
    padding: 0 36px 0;
    background-color: #ffffff;
    margin-bottom: 80px;
  }
}

@media (min-width: v.$desktop-width) {
  .additional-catalog__title {
    padding: 0 110px 80px;

  }

  .additional-catalog__item {
    width: 896px;
    display: flex;
    justify-content: space-between;
  }
}
