.catalog-all {
  padding: 80px 20px 25px;
  border-top: 1px solid  #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}

.catalog-all__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.catalog-all__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
