.gift {
  background-color: #68b738;
  background-image: url("../img/background-catalog.png");
  color: #ffffff;
}

.gift__info {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
