@use "variables.scss" as v;

.gift {
  padding: 35px 20px;
  text-align: center;
}

.gift__wrapper {
  padding: 186px 0 44px;
  position: relative;
  background-color: #68b738;
  background-image: url("../img/background-catalog.png");
  background-repeat: no-repeat;
  background-size: 280px auto;

  &::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 80px;
    background-image: url("../img/icon-gift-mobile.svg");
    top: 60px;
    left: 101px;
  }
}

.gift__info {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}


@media (min-width: v.$tablet-width) {
  .gift {
    padding: 69px 30px 76px;
  }

  .gift__wrapper {
    padding: 70px 0 70px 422px;
    background-size: 708px auto;
    background-position-y: 58%;
  }
}
