.product-add {
  padding: 13px 20px 19px;
  border-top: 1px solid #ebebeb;

  &:last-of-type {
    border-bottom: 1px solid #ebebeb;
  }
}

.product-add__title {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.product-add__info {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
