@use "variables.scss" as v;

.product-add {
  padding: 13px 0 19px;
  border-top: 1px solid #cdcdcd;

  &:last-of-type {
    border-bottom: 1px solid #cdcdcd;
  }
}

.product-add__title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.product-add__info {
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

@media (min-width: v.$tablet-width) {
  .product-add {
    padding: 26px 38px 28px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
  }

  .product__add-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .product-add__title {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  .product-add__info {
    width: 225px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: v.$desktop-width) {
  .product-add {
    padding: 0;
    border: none;
    border-top: 1px solid #cdcdcd;
  }

  .product__add-wrapper {
    width: 613px;
    margin: 0;
    align-items: center;
  }

  .product-add__order {
    width: 244px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
