.product__link {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
}

.product__info-item {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

