@use "variables.scss" as v;

.comment__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 38px;
}

.comment__input {
  min-height: 151px;
  width: 100%;
  box-sizing: border-box;
  border-color: #e7e7e7;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;

  &::placeholder {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    text-transform: uppercase;
  }

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }
}

@media (min-width: v.$tablet-width) {
  .comment__title {
    display: inline-block;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    background-color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
  }

  .comment__input {
    min-height: 174px;
    font-size: 20px;
    line-height: 30px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
