@use "variables.scss" as v;

.form__text {
  padding: 0 20px 20px;
  text-transform: uppercase;
}

.form__note {
  text-align: center;
  font-family: "Arial", sans-serif;
  line-height: 16px;
  margin: 0;
}

.form__button {
  font-family: "Oswald", sans-serif;
  padding: 10px 0 10px 0;
  margin-bottom: 21px;
}

.form__questionary {
  border: none;
  padding: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  overflow: hidden;
}

.form__questionary-wrapper {
  padding: 20px 20px 24px;
}

.form__questionary--contacts {
  border: none;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #68b738;
    top: 42px;
    right: -60px;
  }
}

.form__questionary-wrapper-contacts {
  padding: 26px 20px 24px;
}

.form__comment {
  border: none;
  position: relative;
  padding: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #68b738;
    top: 16px;
    right: -2px;
  }
}

.form__radio {
  width: 100%;
  padding: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  overflow: hidden;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}

.form__radio-wrapper {
  padding: 28px 20px 24px;
}

.form__comment-wrapper {
  padding: 0 20px 19px;
  border: none;
}

.form__checkbox {
  position: relative;
  border: none;
  padding: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #68b738;
    top: 16px;
    right: -23px;
  }
}

.form__checkbox-wrapper {
  padding: 0 20px 39px;
  border: none;
}

.form__wrapper-button {
  padding: 0 20px 32px;
  display: flex;
  flex-direction: column;
}

@media (min-width: v.$tablet-width) {
  .form__text {
    font-size: 20px;
    line-height: 30px;
    padding: 0 70px 36px;
  }

  .form__questionary-wrapper {
    padding: 30px 70px 72px;
    border: none;
  }

  .form__radio {
    border: none;
  }

  .form__radio-wrapper {
    width: 768px;
    padding: 0 70px 75px;
  }

  .form__questionary--contacts::before {
    width: 100%;
    top: 24px;
    z-index: -1;
    right: 0;
  }

  .form__questionary-wrapper-contacts {
    padding: 0 70px 65px;
  }

  .form__comment::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #68b738;
    top: 24px;
    z-index: -1;
  }

  .form__comment-wrapper {
    padding: 0 70px 65px;
  }

  .form__checkbox::before {
    width: 100%;
    top: 24px;
    z-index: -1;
    right: 0;
  }

  .form__checkbox-wrapper {
    padding: 0 70px 59px;
  }

  .form__wrapper-button {
    padding: 0 174px 72px 70px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .form__button {
    width: 282px;
    padding: 17px 0 16px 0;
    margin-bottom: 0;
    margin-right: 60px;
    font-size: 20px;
  }
}

@media (min-width: v.$desktop-width) {
  .form__text {
    padding: 30px 110px 36px;
  }

  .form__wrapper-desctop {
    width: 1440px;
    box-sizing: border-box;
    padding: 30px 110px 70px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 568px);
    gap: 80px;
  }

  .form__questionary--desktop {
    overflow: visible;
  }

  .form__questionary-wrapper {
    width: auto;
    padding: 0;
  }

  .form__radio-wrapper {
    width: auto;
    padding: 0;
  }

  .form__questionary--contacts::before {
    top: 19px;
  }

  .form__questionary-wrapper-contacts {
    padding: 0 110px 61px;
  }

  .form__comment-wrapper {
    padding: 0 110px 67px;
  }

  .form__checkbox-wrapper {
    padding: 0 110px 64px;
  }

  .form__wrapper-button {
    padding: 0 500px 82px 110px;
  }

  .form__button {
    width: 568px;
    margin-right: 80px;
  }
}
