@use "variables.scss" as v;

.questionary__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 35px;
}

.questionary__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.questionary__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin: 0;
  }
}

.questionary__label {
  margin-right: 5px;
  font-size: 16px;
  color: #444444;
  text-transform: uppercase;

  &--phone {
    margin-right: 8px;
  }
}

.questionary__input {
  min-width: 172px;
  padding: 14px;
  box-sizing: border-box;
  flex-grow: 1;
  border: 1px solid #e7e7e7;
  font-size: 16px;
  line-height: 18px;

  &::placeholder {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    text-transform: uppercase;
  }
}

.questionary__input-contacts {
  flex-grow: 1;
  border: none;
  font-size: 16px;
  line-height: 18px;

  &::placeholder {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    text-transform: uppercase;
  }
}

.questionary__input-wrapper {
  min-width: 204px;
  display: flex;
  align-items: center;
  padding: 15px;
  padding-right: 50px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
}


@media (min-width: v.$tablet-width) {
  .questionary__title {
    display: inline-block;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    background-color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
  }

  .questionary__item {
    margin-bottom: 20px;

    &:last-child {
      margin: 0;
    }
  }

  .questionary__label {
    margin-right: 12px;
    font-size: 20px;
    line-height: 30px;

    &--email {
      margin-right: 18px;
    }
  }

  .questionary__input {
    min-width: 497px;
    padding: 11px 19px;
    font-size: 20px;
    line-height: 30px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .questionary__input-wrapper {
    flex-grow: 1;
    min-width: 535px;
    padding: 11px 19px;
    justify-content: space-between;
  }

  .questionary__input-contacts {
    font-size: 20px;
    line-height: 30px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media (min-width: v.$desktop-width) {
  .questionary__list--contacts {
    display: flex;
  }

  .questionary__input {
    min-width: 436px;
  }

  .questionary__item--contacts {
    margin: 0;
    margin-right: 78px;

    &:last-child {
      margin-right: 0;
    }
  }

  .questionary__label--email {
    margin-right: 20px;
  }

  .questionary__label--phone {
    margin-right: 15px;
  }

  .questionary__input-wrapper {
    min-width: 480px;
  }
}
