.questionary__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.questionary__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.questionary__label {
  font-size: 16px;
  color: #444444;
  text-transform: uppercase;
}

.questionary__input::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}
