@use "variables.scss" as v;

.adress__welcome {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.adress__text {
  margin: 0;
  padding-left: 16px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: #444444;
}

@media (min-width: v.$tablet-width) {
  .adress__welcome {
    width: 170px;
    font-size: 20px;
    line-height: 26px;
  }

  .adress__text {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .adress__text-city {
    display: block;
    margin-top: 20px;
  }
}
