.button {
  display: inline-block;
  padding: 10px 0 10px 0;
  border: none;
  font-size: 16px;
  line-height: 20px;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &--all {
    color: #444444;
    background-color: #f2f2f2;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--all:hover,
  &--all:focus {
    background-color: #ebebeb;
  }

  &--all:active {
    color: rgba(68, 68, 68, 0.3);
  }
}
