@use "variables.scss" as v;

.contacts {
  position: relative;
}

.contacts--background {
  background-color: #f2f2f2;
}

.contacts__wrapper {
  padding: 26px 20px;
}

.contacts__adress {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.contacts__map-frame {
  width: 100%;
  height: 362px;
  border: none;
}

@media (min-width: v.$tablet-width) {
  .contacts__wrapper {
    padding: 60px 70px 55px;
  }

  .contacts__adress {
    width: 628px;
  }

  .contacts__map-frame {
    height: 396px;
  }
}

@media (min-width: v.$desktop-width) {
  .contacts--background {
    background-color: #ffffff;
  }

  .contacts .contacts__wrapper {
    padding: 56px 80px;
    position: absolute;
    background-color: #ffffff;
    width: 565px;
    left: 110px;
    top: 98px;
  }

  .contacts__adress {
    width: 405px;
  }

  .contacts__map-frame {
    height: 400px;
  }
}
