@use "variables.scss" as v;

.main-container {
  flex-grow: 1;
}

.main-container__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.main-container__title-catalog {
  padding: 27px 20px 41px;
}


.main-container__title-form {
  padding: 27px 20px 37px;
}

@media (min-width: v.$tablet-width) {
  .main-container__title {
    font-size: 60px;
    line-height: 60px;
  }

  .main-container__title-catalog {
    padding: 0 30px 82px;
  }

  .main-container__title-form {
    padding: 33px 70px 54px;
  }
}

@media (min-width: v.$desktop-width) {
  .main-container__title-form {
    padding: 19px 110px 56px;
  }

  .main-container__title-catalog {
    padding: 19px 110px 84px;
  }
}
