@use "variables.scss" as v;

.logo {
  display: flex;
  margin: 0;
  padding: 0 20px;
  justify-content: space-between;
  width: 190px;
  height: 65px;
  align-items: center;
}

@media (min-width: v.$tablet-width) {
  .logo {
    margin: 0;
    width: 175px;
    padding: 0;
  }
}
