@use "variables.scss" as v;

.main-menu__link {
  text-align: center;
  padding-top: 22px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  border-top: 1px solid #e6e6e6;
}

@media (min-width: v.$tablet-width) {
  .main-menu {
    display: flex;
    width: 440px;
    flex-wrap: wrap;
  }

  .main-menu__link {
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 42px 0;
  }

  .main-menu__item {
    margin-right: 36px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &--current::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #68b738;
      top: 64%;
    }
  }

  .main-menu__item:last-of-type .main-menu__link {
    border: none;
  }
}

@media (min-width: v.$desktop-width) {
  .main-menu--link-desktop {
    color: #ffffff;
  }

  .main-menu__link {
    font-size: 20px;
    line-height: 30px;
    padding: 69px 0;
  }

  .main-menu__item--current-index::after {
    background-color: #ffffff;
  }
}
