/* Viewports*/

$tablet-width: 768px;
$desktop-width: 1440px;

/*Colors*/
$basic-white: #ffffff;
$basic-black: #000000;
$special-black: #111111;
$basic-green: #68b738;
$basic-gray: #f2f2f2;
$basic-light-gray: #eaeaea;
$special-grey: #444444;
$special-dark-grey:#666666;
$basic-border-gray: #d9d9d9;
$special-border-gray: #e6e6e6;
$form-border-gray: #e7e7e7;
$form-border-special-gray: #cdcdcd;
$basic-error: #ff8282;
